body{
    background-color: #24303C;
    text-align: center;
}


/* footer*/

.caja-ingreso{
   margin: 5em;
   text-align: center;

   height: 540px;

}
.MS {
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: left;
    width: 350px;
}
/*terminos*/
.terminos{
    margin-top: 1em;
    color: white;
    font-size: 16px;
    text-align: center;
}


