body{
    background-color: #24303C;
}

.container{
    margin-top: 1em;
    margin-bottom: 2em;
}
.caja-registro{
    padding: 1.5em;
    background-color: whitesmoke;
    border-radius: 20px;
}
.item-principal{
    width: 360px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:#00d9ffdc;
    padding: 1em;
    text-align:center;
    border-radius:10px;
}
.fila{
    padding: 1em;
    list-style: none; 

    }

h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.position img {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.2em;
    width: 128px;
}

.position img:hover {
    -webkit-box-shadow: inset -5px 9px 80px 62px rgba(164,239,245,0.61);
    -moz-box-shadow: inset -5px 9px 80px 62px rgba(164,239,245,0.61);
    box-shadow: inset -5px 9px 80px 62px rgba(164,239,245,0.61);
    padding: 0.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 128px;
}
#c1{
    background-color: #2090ff; 
    border-radius: 10px;
    margin:0.5em;
}
#c3{
   
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 3em;
    margin-top: 0.5em;
}
