body{
    background-color: #24303C;
}


/*? caja */
.caja-productos{
font-size: 25px;
}
.PS{
    background-color: white;
    padding:2em;
    border-radius: 10px;
}



/** **/
.galeria{
    text-align: center;
}
.fila{
    
    list-style: none;
    width: 120px;
    height: 360px;
    background-color: #421bf0;
    padding: 1em;
    border-radius: 10px;
 
}
li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.item{
    width: 64px;
    height: 64px;
}
li .position{
    text-align: center;
}
 li .position:hover{
     text-align: center;
    padding:24px 12px;
    background-color:#2ac1fd;
  
    
}
.content {
    margin-left:1em;
    
}
.content p {
    font-size: 18px;
}
.cus{
    text-align: center;
}

.ll{
    color: chartreuse;
}
.imagen{
    text-align: center;
    background-color: #0e0e8b;
    padding: 1.5em 2em;
    border-radius: 40px;
}
.item-principal{

    width: 250px;
    height : 250px;
}

/**//* productos*/

.Stockline{
    margin-top: 2em;
    padding: 1em;
    background-color: #04b8ffa9;
}
.card-img-overlay .LSC{
    font-size: 25px;
    text-align: center;
}
.card-img-overlay .LSC a{
    text-decoration: none;
    color:white;
}
.card-img-overlay .LSC a:hover{
    color: #421bf0;
}
.PC .row .card{
    
    height:350px;
    
}
.productos {
    
    margin: 1em;
}
.reseñas{
    margin: 1em;
}

.card-group .card {
    margin: 1em;
    text-align: center;
}

.PC{
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    background-color: #421bf0;
}

